@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

h1 {
    color: aliceblue;
}

h2 {
    color: darksalmon;
    font-weight: 300;
}

h3 {
    color: darksalmon
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: inline-block;
    padding-inline-start: 10px;
    padding: 10px;
    width: 300px;
    color: darksalmon;
    text-align: center;
}

.padre .title-one {
    color: antiquewhite(65, 85, 102);
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 900;
}

.padre .paragraph {
    display: inline-block;
    color: rgb(3, 3, 3);
    font-size: 12,
}

header {
    background-color: #20b2aa;
    text-align: left;
    position: absolute;
    width: 1442px;
    height: 90px;
    left: 0px;
}

header .navBar {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: right;
}

header .navBar .navBarBrand {
    display: inline-block;
}

header .navBar .navBarNav {
    display: inline-block;
}

header .navBar .navBarNav .navBarItem {
    display: inline-block;
}

header .navBar .navBarNav .navBarItem .navBarLink {
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (min-width :720 px) {
    .header {
        display: none;
    }
}

.grid {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
   padding-top: 0 auto;

    display: grid;
    grid-template-areas: "paragraph foto""footer footer";
    grid-template-columns: (1fr);
    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 720 px) {
    .grid {
        grid-template-columns: repeat(2 1fr);
    }
}

.principal {
    background-image: -webkit-linear-gradient(to left, red , yellow );
    display: flex;
    width: 300px;
    margin: 0 auto;
}


.servicios {
    display: flex;
    flex-direction: column;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: darksalmon;
    text-align: center;
}

.foto {
    display: flex;
    width: 300;
    margin: 0;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.registrarse {
    margin-top: 5px;
    padding: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer {
    background-color: #f08080;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 1300px;
    height: 70px;
    left: 0px;
}

@media screen and (min-widht: 720 px) {
    .review {
        flex-direction: row;

    }
}